<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Network form - EIGRP Displayer</title>
</head>
<body>
    <h1>Network form</h1>
    <a href="/displayer/">Go back to home page</a><br>
    <a href="/displayer/deviceForm">Create Device</a><br>
    <a href="/displayer/extNetworkForm">Create External Network</a><br>
    <a href="/displayer/routerForm">Create Router</a><br>

    <a href="/displayer/connectionForm">Create Connection</a><br>
</body>
</html>